<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.sgy.feiyue.crms.dao.RoleMapper" >
  <resultMap id="BaseResultMap" type="com.sgy.feiyue.crms.common.entity.Role" >
    <id column="role_id" property="roleId" jdbcType="VARCHAR" />
    <result column="role_name" property="roleName" jdbcType="VARCHAR" />
    <result column="flag1" property="flag1" jdbcType="VARCHAR" />
    <result column="flag2" property="flag2" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    role_id, role_name, flag1, flag2
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select 
    <include refid="Base_Column_List" />
    from role
    where role_id = #{roleId,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String" >
    delete from role
    where role_id = #{roleId,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="com.sgy.feiyue.crms.common.entity.Role" >
    insert into role (role_id, role_name, flag1, 
      flag2)
    values (#{roleId,jdbcType=VARCHAR}, #{roleName,jdbcType=VARCHAR}, #{flag1,jdbcType=VARCHAR}, 
      #{flag2,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.sgy.feiyue.crms.common.entity.Role" >
    insert into role
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="roleId != null" >
        role_id,
      </if>
      <if test="roleName != null" >
        role_name,
      </if>
      <if test="flag1 != null" >
        flag1,
      </if>
      <if test="flag2 != null" >
        flag2,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="roleId != null" >
        #{roleId,jdbcType=VARCHAR},
      </if>
      <if test="roleName != null" >
        #{roleName,jdbcType=VARCHAR},
      </if>
      <if test="flag1 != null" >
        #{flag1,jdbcType=VARCHAR},
      </if>
      <if test="flag2 != null" >
        #{flag2,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.sgy.feiyue.crms.common.entity.Role" >
    update role
    <set >
      <if test="roleName != null" >
        role_name = #{roleName,jdbcType=VARCHAR},
      </if>
      <if test="flag1 != null" >
        flag1 = #{flag1,jdbcType=VARCHAR},
      </if>
      <if test="flag2 != null" >
        flag2 = #{flag2,jdbcType=VARCHAR},
      </if>
    </set>
    where role_id = #{roleId,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.sgy.feiyue.crms.common.entity.Role" >
    update role
    set role_name = #{roleName,jdbcType=VARCHAR},
      flag1 = #{flag1,jdbcType=VARCHAR},
      flag2 = #{flag2,jdbcType=VARCHAR}
    where role_id = #{roleId,jdbcType=VARCHAR}
  </update>

</mapper>